extractRequestData:
  assign:
    cookie: ${incoming.headers.cookie}
    userId: ${incoming.body.userId}
    forwardedChatPopupNotifications: ${incoming.body.forwardedChatPopupNotifications}
    forwardedChatSoundNotifications: ${incoming.body.forwardedChatSoundNotifications}
    forwardedChatEmailNotifications: ${incoming.body.forwardedChatEmailNotifications}
    newChatPopupNotifications: ${incoming.body.newChatPopupNotifications}
    newChatSoundNotifications: ${incoming.body.newChatSoundNotifications}
    newChatEmailNotifications: ${incoming.body.newChatEmailNotifications}
    useAutocorrect: ${incoming.body.useAutocorrect}

extractTokenData:
  call: http.post
  args:
    # TODO: replace with env variable and correct path to TIM endpoint
    url: http://byk-private-ruuter-yml:8080/mock-tim-custom-jwt-userinfo
    headers:
      cookie: ${cookie}
    body:
      # TODO: pass cookie name correctly to TIM
      cookieName: "customJwtCookie"
  result: jwtResult

validateAdministrator:
  switch:
    # TODO: use correct structure when request is made against TIM
    - condition: ${jwtResult.response.body.response.authorities.includes("ROLE_ADMINISTRATOR")}
      next: setUserSettingValue
  next: returnUnauthorized

setUserSettingValue:
  call: http.post
  args:
    # TODO: replace with env variable
    url: https://byk-resql:8443/set-user-profile-settings
    body:
      userId: ${userId}
      forwardedChatPopupNotifications: ${forwardedChatPopupNotifications}
      forwardedChatSoundNotifications: ${forwardedChatSoundNotifications}
      forwardedChatEmailNotifications: ${forwardedChatEmailNotifications}
      newChatPopupNotifications: ${newChatPopupNotifications}
      newChatSoundNotifications: ${newChatSoundNotifications}
      newChatEmailNotifications: ${newChatEmailNotifications}
      useAutocorrect: ${useAutocorrect}
  result: returnSuccess

returnSuccess:
  return: ${forwardedChatPopupNotifications}
  next: end

returnInvalidBody:
  return: "error: invalid body"
  next: end

returnUnauthorized:
  return: "error: unauthorized"
  next: end
