.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.last_message {
    display: -webkit-box;
    color: #4D4F5D;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
