openapi: 3.1.0

info:
  title: Openapi specification for cs-set-user-profile-settings API
  version: 1.0.0

servers:
  - url: https://play.buerokratt.ee

paths:
  /cs-set-user-profile-settings:
    post:
      summary: Request to set the user profile settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                forwardedChatPopupNotifications:
                  type: boolean
                forwardedChatSoundNotifications:
                  type: boolean
                forwardedChatEmailNotifications:
                  type: boolean
                newChatPopupNotifications:
                  type: boolean
                newChatSoundNotifications:
                  type: boolean
                newChatEmailNotifications:
                  type: boolean
                useAutocorrect:
                  type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  forwardedChatPopupNotifications:
                    type: boolean
          '400':
            description: Invalid body
            content:
              text/plain:
                schema:
                  type: string
                  example: "error: invalid body"
          '401':
            description: Unauthorized
            content:
              text/plain:
                schema:
                  type: string
                  example: "error: unauthorized"

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: customJwtCookie

security:
  - cookieAuth: []