name: Deploy

on:
  push:
    branches:
      - dev

jobs:
  deploy-dev-test:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'  # Only run for the 'dev' branch

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Check if directory exists on remote server and create if neccecary
        id: check-directory
        run: |
            ssh ubuntu@${{ secrets.SERVER_IP }} 'cd /opt/etapp2/uptodate/PIPELINE && bash Buerokratt-Chatbot.sh'
